<center>

	
<%= form_for(@message) do |f| %>

	<input name="mid" type="hidden" value="<%= @message.mid %>" />

  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br />

  <div class="field">
<!--    <%= f.label :text %><br /> -->
    <%= f.text_field( :text, :size=>"30", :class=>"messageInput")%>
    <p class="tip">To connect two words, place "-" between them. ex "Hello-world" :)</p>
  </div>

<style>
input.messageInput{
	height: 36px;
	font-size: 20pt;
	text-align: center;
}
p.tip{
	font-size: 50%;
}
</style>

  
  <!--
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :bg_color %><br />
    <%= f.text_field :bg_color %>
  </div>
  <div class="field">
    <%= f.label :message_color %><br />
    <%= f.text_field :message_color %>
  </div>
  -->
  <div class="actions">
  	<br />
	<%= f.submit "save" %>
  </div>
<% end %>
</center>
